@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/*body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}*/

:root {
  --foreground-rgb: 0, 0, 0; /* Default to black text */
  --background-start-rgb: 200, 200, 200; /* Default to white background */
  --background-end-rgb: 255, 255, 255; /* Default to white background */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  /* Ensure background defaults to light */
}
